[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git

[submodule "janus/base16-vim"]
	path = janus/base16-vim
	url = https://github.com/chriskempson/base16-vim.git

[submodule "janus/vim-blade"]
	path = janus/vim-blade
	url = https://github.com/xsbeats/vim-blade.git

[submodule "janus/emmet-vim"]
	path = janus/emmet-vim
	url = https://github.com/mattn/emmet-vim.git

[submodule "janus/tabular"]
	path = janus/tabular
	url = https://github.com/godlygeek/tabular.git

[submodule "janus/tcomment_vim"]
	path = janus/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim

[submodule "janus/vim-actionscript"]
	path = janus/vim-actionscript
	url = https://github.com/jeroenbourgois/vim-actionscript.git

[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/bling/vim-airline.git

[submodule "janus/vim-coffee-script"]
	path = janus/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git

[submodule "janus/vim-markdown"]
	path = janus/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git

[submodule "janus/vim-multiple-cursors"]
	path = janus/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git

[submodule "janus/ctrlp-funky"]
	path = janus/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git

[submodule "janus/vim-gitgutter.git"]
    path = janus/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git

[submodule "janus/vim-colors-solarized.git"]
    path = janus/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git

[submodule "janus/vim-colors-pencil.git"]
    path = janus/vim-colors-pencil
    url = https://github.com/reedes/vim-colors-pencil.git

[submodule "janus/better-indent-support-for-php-with-html.git"]
    path = janus/better-indent-support-for-php-with-html
    url = https://github.com/captbaritone/better-indent-support-for-php-with-html.git
