extends javascript, html, css

snippet tmpl "Vue Component Template"
<template>
	<div class="${1:ClassName}">
	</div>
</template>

<script>
export default {
}
</script>

<style${2: scoped}>
.$1 {
}
</style>
endsnippet

snippet data "Data callback function"
data () {
	return {
		${0}
	}
}
endsnippet
