snippet if
	if (${1:true}) {
		${0}
	}
snippet ife
	if (${1:true}) {
		${2}
	} else {
		${0}
	}
snippet switch
	switch (${1:expression}) {
		case '${3:case}':
			${4}
			break;
		${0}
		default:
			${2}
	}
snippet try
	try {
		${1}
	} catch (${2:e}) {
		${0:/* handle error */}
	}
snippet fun
	function ${1:function_name} (${2}) {
		${0}
	}
snippet func
	${1:function_name} (${2}) {
		${0}
	}
